    footer.l-footer.p-footer
    script(type="application/ld+json").
        {
          "@context" : "https://schema.org",
          "@type" : "Organization",
          "name" : "【会社名】",
          "founder":"【氏名】",
          "foundingDate":"【設立日】",
          "description" : "#{page.description}",
          "url" : "#{page.siteUrl}",
          "logo": "【ロゴ画像】",
          "telephone" : "+81-【電話番号】",
          "address": {
              "@type": "PostalAddress",
              "addressLocality": "【市、町】",
              "addressRegion": "【都道府県】",
              "postalCode": "【郵便番号】",
              "streetAddress": "【番地・建物名】",
              "addressCountry": "JP"
          },
          "contactPoint" :[
              {
                "@type" : "ContactPoint",
                "telephone" : "+81-【電話番号】",
                "contactType" : "customer service"
              }
          ]},
          "sameAs":[
            "【Facebook】",
            "【Twitter】"
          ]
        }
