@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Header
*/
.p-header {
  background-color: rgba(255, 255, 255, 0.8);
  &__inner {
    display: flex;
    align-items: center;
    padding: 16px 0;

    @include mq(lg) {
      justify-content: space-between;
      padding: 0;
    }
  }

  &__title {
    line-height: 1;
  }
}
