@charset "UTF-8";
/* =====================================================
  1.0 - Foundation
===================================================== */
/*! Oreset.css v1.0.0 | MIT License | https://github.com/hirosiva/Oreset.css */
/*
  # Global
---------------------------------------------- */
/**
 * Default box-sizing
 */
*,
::before,
::after {
  box-sizing: inherit;
}

/**
 * Resetting margins, paddings, and borders
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  border: 0;
  padding: 0;
}

/**
 * Resetting HTML5 Elements for older browsers
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/*
  # Document & Sections
---------------------------------------------- */
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  min-height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
  -webkit-font-feature-settings: "palt";
  min-height: 100%;
  font: 1em/1.5 sans-serif;
  font-feature-settings: "palt";
  letter-spacing: 0.05em;
  text-rendering: optimizeLegibility;
}

/*
  # Grouping content
---------------------------------------------- */
blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

hr {
  overflow: visible;
}

ol,
ul {
  list-style: none;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*
  # Text-level semantics
---------------------------------------------- */
a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 0.8em;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 0.75em;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
  # Embedded content
---------------------------------------------- */
audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img,
video {
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

/*
  # Tabular data
---------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  # Forms
---------------------------------------------- */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

button,
[type="button"],
[type="reset"],
[type="submit"],
[role="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

legend {
  display: table;
  max-width: 100%;
  color: inherit;
  white-space: normal;
}

optgroup {
  font-weight: bold;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  padding: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*
  # Interactive & Misc
---------------------------------------------- */
summary {
  display: list-item;
}

template,
[hidden] {
  display: none;
}

/*
  # Accessibility
---------------------------------------------- */
[disabled],
[aria-disabled="true"] {
  cursor: not-allowed;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

:focus:not(:focus-visible),
::before:focus:not(:focus-visible),
::after:focus:not(:focus-visible) {
  outline: none;
}

/**
 * Prettier ignore
 */

/**
 * Checker
 */
button:not([type]):after {
  background-color: red;
  color: #fff;
  content: "警告： このbuttonにはtype属性がありません";
}

/*
  Base
-----------------------------------------------------*/
body {
  font-family: source-han-sans-japanese, sans-serif;
  font-style: normal;
  font-weight: 400;
}

[lang="en"] {
  font-family: futura-pt, sans-serif;
  letter-spacing: normal;
}

a {
  transition: all 0.3s ease-in-out;
}

/* =====================================================
  2.0 - Layout
===================================================== */
/*
  Centering
-----------------------------------------------------*/
.l-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

.l-container.-slim {
  max-width: 960px;
}

/*
  Contents
-----------------------------------------------------*/
.l-contents {
  clear: both;
  padding: 1.5em 0;
  overflow: hidden;
}

.l-contents.-themeWhite {
  background-color: #fff;
}

.l-contents__button {
  margin: 1.5rem auto 0;
  max-width: 400px;
}

/*
  Footer
-----------------------------------------------------*/
.l-footer {
  clear: both;
  background-color: #9dbf4a;
  padding: 1.5em 0;
  color: #90a4ae;
}

.l-footer__text {
  margin-top: 1em;
  color: #607d8b;
  font-size: 0.75em;
  text-align: center;
}

/*
  Header
-----------------------------------------------------*/
.l-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.admin-bar .l-header {
  top: 2.875em;
}

/*
  Main
-----------------------------------------------------*/
.l-main {
  clear: both;
}

/*
  Sub
-----------------------------------------------------*/

/* =====================================================
  3.0 - Object
===================================================== */
/*
  3.1 - Component
-----------------------------------------------------*/
/*
  Button
*/
.c-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

.c-button.-primary {
  border: 2px solid #9dbf4a;
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

.c-button.-primary:hover {
  background-color: #9dbf4a;
  color: #fff;
}

/*
  Card
*/
.c-card {
  display: block;
  position: relative;
  padding-top: 70.72136%;
  color: inherit;
  text-decoration: none;
}

.c-card__body {
  padding: 1rem;
}

.c-card__thumbnail {
  position: absolute;
  top: 0;
}

.c-card__thumbnail img {
  width: 100%;
}

.c-grid {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 0;
}

.c-grid__item {
  -webkit-box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-size: medium;
  text-align: left;
}

.c-grid.-gutter {
  display: block;
  margin: -4px;
  width: auto;
}

.c-grid.-gutter > .c-grid__item {
  border: 4px solid transparent;
  background-clip: padding-box;
}

.c-grid__item.-sp1Of12 {
  width: 8.33333%;
}

.c-grid__item.-sp2Of12 {
  width: 16.66667%;
}

.c-grid__item.-sp3Of12 {
  width: 25%;
}

.c-grid__item.-sp4Of12 {
  width: 33.33333%;
}

.c-grid__item.-sp5Of12 {
  width: 41.66667%;
}

.c-grid__item.-sp6Of12 {
  width: 50%;
}

.c-grid__item.-sp7Of12 {
  width: 58.33333%;
}

.c-grid__item.-sp8Of12 {
  width: 66.66667%;
}

.c-grid__item.-sp9Of12 {
  width: 75%;
}

.c-grid__item.-sp10Of12 {
  width: 83.33333%;
}

.c-grid__item.-sp11Of12 {
  width: 91.66667%;
}

.c-grid__item.-sp12Of12 {
  width: 100%;
}

.c-grid__item.-spFive {
  width: 20%;
}

/*
  Heading
*/
.c-heading.-primary {
  margin-bottom: 0.8em;
  font-size: 1.25em;
}

.c-heading.-center {
  text-align: center;
}

/*
  Media
*/
.c-media {
  display: block;
  overflow: hidden;
}

.c-media__body {
  float: right;
  width: 65.97938%;
}

.c-media__thumbnail {
  float: left;
  width: 31.95876%;
}

.c-media__thumbnail img {
  width: 100%;
}

/*
  3.2 - Project
-----------------------------------------------------*/
/*
  Article
*/
.p-article {
  background-color: #fff;
  padding: .5em;
}

.p-article__title {
  min-height: 4.5em;
  font-size: 0.875em;
  font-weight: bold;
}

.p-article__title.-detail {
  min-height: auto;
  font-size: 1.5em;
}

.p-article__title.-center {
  text-align: center;
}

.p-article__title a {
  color: inherit;
  text-decoration: none;
}

.p-article__title a:hover {
  background-color: #9dbf4a;
  color: #fff;
}

.p-article__eyecatch {
  margin: .5rem 0;
}

.p-article__eyecatch img {
  width: 100%;
}

.p-article__time {
  font-size: 0.75em;
}

.p-article__metaList {
  margin: 1rem 0;
}

.p-article__metaList dt {
  margin-bottom: .25rem;
  font-size: .75rem;
  font-weight: bold;
}

.p-article__metaList dd + dt {
  margin-top: 1rem;
}

.p-article + .p-article {
  border-top: 1px solid #ddd;
}

.p-article__body {
  line-height: 2;
}

.p-article__body h1, .p-article__body h2, .p-article__body h3, .p-article__body h4, .p-article__body h5, .p-article__body h6,
.p-article__body p, .p-article__body blockquote, .p-article__body pre,
.p-article__body ul, .p-article__body ol, .p-article__body table,
.p-article__body figure {
  margin: 1em 0;
}

.p-article__body h1, .p-article__body h2, .p-article__body h3, .p-article__body h4, .p-article__body h5, .p-article__body h6 {
  font-weight: bold;
}

.p-article__body h1 {
  font-size: 1.5em;
}

.p-article__body h2 {
  border-top: 1px solid #9dbf4a;
  border-bottom: 1px solid #9dbf4a;
  padding: .25em 0;
  font-size: 1.5em;
}

.p-article__body h3 {
  background-color: #eee;
  padding: .5em 1em;
  font-size: 1.25em;
}

.p-article__body h4 {
  border-left: 0.25rem solid #9dbf4a;
  padding-left: 1em;
  font-size: 1.125em;
}

.p-article__body h5 {
  font-size: 1em;
}

.p-article__body blockquote {
  border-left: 0.25em solid #9dbf4a;
  background-color: #eee;
  padding: .25em 1em;
}

.p-article__body blockquote p {
  margin: 1em 0;
}

.p-article__body ul, .p-article__body ol {
  padding-left: 1.25em;
}

.p-article__body ul {
  list-style-type: disc;
}

.p-article__body ol {
  list-style-type: decimal;
}

.p-article__body dl {
  position: relative;
  z-index: 0;
  margin: 1.5em 0 0;
}

.p-article__body dt {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin: 0 .5em;
  background-color: #fff;
  padding: 0 .5em;
  font-weight: bold;
}

.p-article__body dd {
  position: relative;
  top: -1em;
  border: 1px solid #9dbf4a;
  padding: 2em 1em 1em;
}

.p-article__footer {
  margin: 2rem 0;
}

/*
  Author
*/
.p-author {
  margin-top: 1rem;
  border: 1px solid #ddd;
}

.p-author__title {
  display: inline-block;
  background-color: #9dbf4a;
  padding: .25rem 1rem;
  color: #fff;
}

.p-author__name {
  padding: 1rem;
}

/*
  Comments
*/
.p-comments {
  margin-top: 1em;
  background-color: #fff;
}

.p-comments__title {
  padding: .5em;
  font-size: 1.25em;
}

.p-comments__form {
  padding: .5em;
}

.comment + .comment {
  border-top: 1px solid #ddd;
}

.children .comment {
  border-top: 1px dotted #ddd;
}

.comment .children {
  padding-left: 3em;
}

.comment .reply {
  text-align: right;
}

.comment-body {
  padding: .5em;
  overflow: hidden;
}

.comment-author {
  float: left;
  margin-right: 1.5em;
  overflow: hidden;
  text-align: center;
}

.comment-author img {
  display: block;
  margin-bottom: 0.5em;
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  overflow: hidden;
}

.comment-author .fn {
  font-size: .625rem;
}

.comment-author .says {
  clip: rect(0 0 0 0);
  position: absolute;
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
}

.comment-content {
  overflow: hidden;
}

.comment-respond {
  border: 1px solid #ddd;
  padding: 1.5em;
}

.comment-reply-title {
  margin-bottom: .25rem;
  font-weight: bold;
}

.comment-form {
  margin-top: .25rem;
}

.comment-form .logged-in-as {
  margin: .25rem 0;
}

.comment-form .comment-form-comment {
  margin: 1rem 0;
}

.comment-form input,
.comment-form textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all .2s ease-in-out;
  border-radius: .5em;
  padding: .5em;
  font-family: Quicksand, "Noto Sans Japanese", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
  font-size: 1em;
  line-height: 1;
}

.comment-form input[type='text'],
.comment-form input[type='search'] {
  display: inline-block;
  outline: none;
  border: 1px solid #ddd;
  width: 80%;
}

.comment-form input[type='text']:focus,
.comment-form input[type='search']:focus {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.16);
}

.comment-form textarea {
  display: inline-block;
  outline: none;
  border: 1px solid #ddd;
  width: 100%;
}

.comment-form textarea:focus {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.16);
}

.comment-form input[type='submit'] {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: transparent;
  padding: .6em .5em;
}

.comment-form input[type='submit']:hover {
  border-color: #9dbf4a;
  background-color: #9dbf4a;
  color: #fff;
}

/*
  Global Nav
*/
.p-globalNav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: auto;
  transform: translateX(110%);
  z-index: 1;
  transition: transform .3s ease-in-out;
  box-shadow: -1px 0 4px rgba(0, 0, 0, 0.16);
  background-color: #9dbf4a;
  padding: 3em 0 0;
  width: 100%;
  height: 120%;
}

.p-globalNav > li {
  display: block;
}

.p-globalNav > li.current-menu-item a {
  background-color: #1a2327;
  color: #fff;
}

.p-globalNav a {
  display: block;
  padding: 1em;
  color: #90a4ae;
  font-weight: bold;
  text-decoration: none;
}

.p-globalNav a:hover {
  background-color: #1a2327;
  color: #fff;
}

.is-drawerActive .p-globalNav {
  transform: translateX(0);
}

/*
  Hamburger
*/
.p-hamburger {
  position: absolute;
  top: 0;
  right: 2.5%;
  bottom: 0;
  left: auto;
  z-index: 2;
  transition: all .3s ease-in-out;
  margin: auto 0;
  outline: 0;
  box-shadow: 0 0 40px transparent;
  border: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.p-hamburger:focus {
  box-shadow: 0 0 0 1px #212121;
}

.p-hamburger__line {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: transform .2s ease-in-out;
  margin: auto;
  border-radius: .25em;
  background-color: #212121;
  width: 75%;
  height: 2px;
}

.p-hamburger__line:before, .p-hamburger__line:after {
  display: block;
  position: absolute;
  transition: inherit;
  border-radius: inherit;
  background-color: inherit;
  width: 100%;
  height: 100%;
  content: '';
}

.p-hamburger__line:before {
  top: -5px;
}

.p-hamburger__line:after {
  top: 5px;
}

.is-drawerActive .p-hamburger__line {
  background-color: transparent;
}

.is-drawerActive .p-hamburger__line:before, .is-drawerActive .p-hamburger__line:after {
  top: 0;
  background-color: #fff;
}

.is-drawerActive .p-hamburger__line:before {
  transform: rotate(-45deg);
}

.is-drawerActive .p-hamburger__line:after {
  transform: rotate(45deg);
}

/*
  Header
*/
.p-header {
  border-bottom: 1px solid #efefef;
  background-color: #fff;
  overflow: hidden;
}

.p-header__info {
  float: left;
  font-size: 0;
}

.p-header__title {
  display: inline-block;
  vertical-align: middle;
  font-size: medium;
}

.p-header__text {
  display: none;
  vertical-align: middle;
  margin-left: 1em;
  font-size: medium;
}

.p-header__nav {
  float: right;
}

/*
  Hero
*/
.p-hero {
  position: relative;
  background-color: #9dbf4a;
  height: 200px;
  overflow: hidden;
  text-align: center;
}

.p-hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #fff;
  font-size: 1.75rem;
  font-weight: bold;
}

.p-hero__eyecatch {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.p-hero__eyecatch:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: multiply;
  background-color: rgba(38, 50, 56, 0.95);
  content: '';
}

.p-hero__eyecatch img {
  width: auto;
  min-width: 100%;
  max-width: none;
  height: auto;
  min-height: 200px;
}

.p-hero.-home {
  height: 100vw;
}

.p-hero.-home .p-hero__eyecatch img {
  min-height: 100vw;
}

.p-hero.-home .p-hero__title {
  font-size: 2rem;
}

/*
  Logo
*/
.p-logo,
.custom-logo-link {
  display: inline-block;
  padding: .5em 0;
  color: #9dbf4a;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -.02em;
  line-height: 1;
  text-decoration: none;
}

/*
  Pagination
*/
.pagination {
  margin: 1.5em 0;
}

.page-numbers {
  display: inline-block;
  vertical-align: top;
  border: 4px solid #9dbf4a;
  border-radius: 50%;
  background-color: #fff;
  padding: 0.25em;
  width: 2em;
  height: 2em;
  color: #212121;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  text-decoration: none;
}

.page-numbers[href]:hover, .page-numbers.current {
  background-color: #9dbf4a;
  color: #fff;
}

.page-numbers.prev, .page-numbers.next {
  position: relative;
}

.page-numbers.prev:before, .page-numbers.prev:after, .page-numbers.next:before, .page-numbers.next:after {
  position: absolute;
  top: 0;
  bottom: 0;
  transform: rotate(45deg);
  transition: all .3s ease-in-out;
  margin: auto;
  width: 0.5em;
  height: 0.5em;
  content: '';
}

.page-numbers.prev:before, .page-numbers.next:before {
  background-color: #212121;
}

.page-numbers.prev:after, .page-numbers.next:after {
  background-color: #fff;
}

.page-numbers.prev:hover:before, .page-numbers.next:hover:before {
  background-color: #fff;
}

.page-numbers.prev:hover:after, .page-numbers.next:hover:after {
  background-color: #9dbf4a;
}

.page-numbers.prev:before, .page-numbers.prev:after {
  right: 0;
}

.page-numbers.prev:before {
  left: 0.25em;
}

.page-numbers.prev:after {
  left: 0.75em;
}

.page-numbers.next:before, .page-numbers.next:after {
  left: 0;
}

.page-numbers.next:before {
  right: 0.25em;
}

.page-numbers.next:after {
  right: 0.75em;
}

.page-numbers + .page-numbers {
  margin-left: .125em;
}

.nav-links {
  overflow: hidden;
}

.nav-previous, .nav-next {
  width: 49%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-previous a:first-line, .nav-next a:first-line {
  font-size: 1.5rem;
}

.nav-previous {
  float: left;
}

.nav-next {
  float: right;
  text-align: right;
}

/*
  Post Categories
*/
.post-categories {
  margin: .75em 0;
}

.post-categories.-inList {
  margin: 0;
}

.post-categories li {
  display: inline-block;
}

.post-categories li + li {
  margin-left: .5em;
}

.post-categories li a {
  display: inline-block;
  border-radius: 0.66667em;
  background-color: #eee;
  padding: 0.33333em 0.66667em;
  color: inherit;
  font-size: 0.75em;
  text-decoration: none;
}

.post-categories li a:hover {
  background-color: #9dbf4a;
  color: #fff;
}

/*
  Project
*/
.p-project {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
  background-color: #fff;
}

.p-project__title {
  font-weight: bold;
}

.p-project__text {
  margin-top: .5rem;
  font-size: .75rem;
}

.p-project[href]:hover {
  background-color: #f0f0f0;
}

/*
  Search
*/
.searchform,
.search-form {
  text-align: right;
}

.searchform input,
.search-form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  transition: all .2s ease-in-out;
  border-radius: .5em;
  padding: .5em;
  font-family: Quicksand, "Noto Sans Japanese", "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, sans-serif;
  font-size: 1em;
  line-height: 1;
}

.searchform input[type="text"],
.searchform input[type="search"],
.search-form input[type="text"],
.search-form input[type="search"] {
  display: inline-block;
  outline: none;
  border: 1px solid #ddd;
  width: 80%;
}

.searchform input[type="text"]:focus,
.searchform input[type="search"]:focus,
.search-form input[type="text"]:focus,
.search-form input[type="search"]:focus {
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.16);
}

.searchform input[type="submit"],
.search-form input[type="submit"] {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ddd;
  background-color: transparent;
  padding: .6em .5em;
  width: 18%;
}

.searchform input[type="submit"]:hover,
.search-form input[type="submit"]:hover {
  border-color: #9dbf4a;
  background-color: #9dbf4a;
  color: #fff;
}

/*
  Widget
*/
.p-widget + .p-widget {
  margin-top: 1.5em;
}

.p-widget__title {
  background-color: #9dbf4a;
  color: #fff;
  font-weight: bold;
}

.p-widget.-light .p-widget__title {
  padding: .5em;
}

.p-widget.-dark .p-widget__title {
  margin: .5em 0;
}

.p-widget > ul > li a,
.p-widget .menu > li a {
  transition: all .3s ease-in-out;
  color: inherit;
  text-decoration: none;
}

.p-widget > ul > li a:hover,
.p-widget .menu > li a:hover {
  background-color: #9dbf4a;
  color: #fff;
}

.p-widget > ul > li .post-date,
.p-widget .menu > li .post-date {
  font-size: .75rem;
}

.p-widget.-light > ul,
.p-widget.-light .menu {
  background-color: #fff;
}

.p-widget.-light > ul li,
.p-widget.-light .menu li {
  padding: .5em;
}

.p-widget.-light > ul li + li,
.p-widget.-light .menu li + li {
  border-top: 1px solid #ddd;
}

.p-widget.-dark > ul li,
.p-widget.-dark .menu li {
  padding: .5em 0;
}

.p-widget.-dark > ul li + li,
.p-widget.-dark .menu li + li {
  border-top: 1px solid #90a4ae;
}

.p-widget form {
  background-color: #fff;
  padding: .5em;
}

.p-widget .calendar_wrap {
  background-color: #fff;
  padding: .5em;
}

.p-widget table {
  width: 100%;
}

.p-widget table caption {
  font-weight: bold;
}

.p-widget table th,
.p-widget table td {
  position: relative;
  z-index: 0;
  padding: .25em;
  text-align: center;
}

.p-widget table thead {
  font-weight: bold;
}

.p-widget table a {
  color: inherit;
}

.p-widget table tbody {
  color: #607d8b;
}

.p-widget table tbody a {
  display: block;
  text-decoration: none;
}

.p-widget table tbody a:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all .3s ease-in-out;
  margin: auto;
  border-radius: 50%;
  background-color: #fff;
  width: 2em;
  height: 2em;
  content: '';
}

.p-widget table tbody a:hover:before {
  background-color: #9dbf4a;
  color: #fff;
}

.p-widget table td#today {
  color: #ffc107;
  font-weight: bold;
}

.p-widget table td#prev {
  font-weight: bold;
  text-align: left;
}

.p-widget table td#next {
  font-weight: bold;
  text-align: right;
}

.p-widget .tagcloud a {
  display: inline-block;
  margin-top: .5rem;
  border-radius: .5em;
  background-color: #fff;
  padding: .25rem .5rem;
  color: #9dbf4a;
  line-height: 1;
  text-decoration: none;
}

.p-widget .tagcloud a:hover {
  background-color: #9dbf4a;
  color: #fff;
}

.p-widget .tagcloud .tag-link-count {
  font-size: .5em;
}

.p-widget .textwidget {
  width: 100%;
}

.p-widget .textwidget em, .p-widget .textwidget strong {
  font-weight: bold;
}

.p-widget .textwidget a {
  color: #00bcd4;
  text-decoration: underline;
}

.p-widget .textwidget a:hover {
  text-decoration: none;
}

.p-widget.-light .textwidget {
  background-color: #fff;
}

.p-widget.-light .textwidget strong {
  color: #ffc107;
}

.p-widget.-dark .textwidget strong {
  color: #fff;
}

/*
  3.2 - Utility
-----------------------------------------------------*/
/*
  Break
*/
.u-break .-sp {
  display: inline-block;
}

.u-break .-tab {
  display: none;
}

/*
  Margin
*/
.u-mt--sp--0 {
  margin-top: 0;
}

.u-mt--sp--xsmall {
  margin-top: .5em;
}

.u-mt--sp--small {
  margin-top: 1em;
}

.u-mt--sp--medium {
  margin-top: 1.5em;
}

.u-mt--sp--large {
  margin-top: 2em;
}

.u-mt--sp--xlarge {
  margin-top: 2.5em;
}

.u-mb--sp--0 {
  margin-bottom: 0;
}

.u-mb--sp--xsmall {
  margin-bottom: .5em;
}

.u-mb--sp--small {
  margin-bottom: 1em;
}

.u-mb--sp--medium {
  margin-bottom: 1.5em;
}

.u-mb--sp--large {
  margin-bottom: 2em;
}

.u-mb--sp--xlarge {
  margin-bottom: 2.5em;
}

/*
  Screen Reader Text
*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    -webkit-transition: none !important;
    -webkit-animation: none !important;
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

@media screen and (min-width: 768px) {
  .l-contents {
    padding: 3em 0;
  }
  .l-contents__button {
    margin-top: 3rem;
  }
  .l-footer {
    padding: 3em 0;
  }
  .l-footer__text {
    text-align: left;
  }
  .admin-bar .l-header {
    top: 2em;
  }
  .l-main {
    float: left;
    width: 68.66667%;
  }
  .l-main.-single {
    float: none;
    width: auto;
  }
  .l-sub {
    float: right;
    width: 28%;
  }
  .c-grid.-gutter {
    margin: -8px;
  }
  .c-grid.-gutter > .c-grid__item {
    border-width: 8px;
  }
  .c-grid__item.-tab1Of12 {
    width: 8.33333%;
  }
  .c-grid__item.-tab2Of12 {
    width: 16.66667%;
  }
  .c-grid__item.-tab3Of12 {
    width: 25%;
  }
  .c-grid__item.-tab4Of12 {
    width: 33.33333%;
  }
  .c-grid__item.-tab5Of12 {
    width: 41.66667%;
  }
  .c-grid__item.-tab6Of12 {
    width: 50%;
  }
  .c-grid__item.-tab7Of12 {
    width: 58.33333%;
  }
  .c-grid__item.-tab8Of12 {
    width: 66.66667%;
  }
  .c-grid__item.-tab9Of12 {
    width: 75%;
  }
  .c-grid__item.-tab10Of12 {
    width: 83.33333%;
  }
  .c-grid__item.-tab11Of12 {
    width: 91.66667%;
  }
  .c-grid__item.-tab12Of12 {
    width: 100%;
  }
  .c-grid__item.-tabFive {
    width: 20%;
  }
  .c-heading.-primary {
    font-size: 2em;
  }
  .p-article {
    padding: 1.5em;
  }
  .p-article__title {
    min-height: 4.5em;
    font-size: 1.25em;
  }
  .p-article__title.-detail {
    font-size: 2.5em;
  }
  .p-article__eyecatch {
    margin: 1.5rem 0;
  }
  .p-article__time {
    font-size: 0.875em;
  }
  .p-article__metaList dt {
    float: left;
    clear: left;
    margin: 0 1.5rem 0 0;
    padding: .75rem 0;
    overflow: hidden;
    font-size: .75rem;
  }
  .p-article__metaList dd {
    padding: .5rem 0;
  }
  .p-article__metaList dd + dt {
    margin-top: 0;
  }
  .p-article__body h1, .p-article__body h2, .p-article__body h3, .p-article__body h4, .p-article__body h5, .p-article__body h6,
  .p-article__body p, .p-article__body blockquote, .p-article__body pre,
  .p-article__body ul, .p-article__body ol, .p-article__body table,
  .p-article__body figure {
    margin: 1.5rem 0 1em;
  }
  .p-article__body h1 {
    font-size: 2em;
  }
  .p-article__body h2 {
    font-size: 1.75em;
  }
  .p-article__body h3 {
    font-size: 1.5em;
  }
  .p-article__body h4 {
    font-size: 1.25em;
  }
  .p-article__body h5 {
    font-size: 1.125em;
  }
  .p-article__footer {
    margin: 4rem 0;
  }
  .p-comments {
    margin-top: 2em;
  }
  .p-comments__title {
    padding: 1.5em;
    font-size: 1.5em;
  }
  .p-comments__form {
    padding: 1.5em;
  }
  .comment-body {
    padding: 1.5em;
  }
  .comment-author img {
    width: 5rem;
    height: 5rem;
  }
  .comment-author .fn {
    font-size: .75rem;
  }
  .comment-form input[type='text'],
  .comment-form input[type='search'] {
    width: 100%;
  }
  .comment-form input[type='submit'] {
    margin-top: .5em;
    width: 25%;
  }
  .p-globalNav {
    position: static;
    transform: translateX(0);
    box-shadow: none;
    background-color: transparent;
    padding: 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 0;
  }
  .p-globalNav > li {
    display: inline-block;
    vertical-align: middle;
    font-size: medium;
    text-align: center;
  }
  .p-globalNav > li.current-menu-item a {
    background-color: transparent;
    color: #90a4ae;
  }
  .p-globalNav > li.current-menu-item a:after {
    transform: translateY(0);
  }
  .p-globalNav a {
    display: block;
    position: relative;
    padding: 1.75em 1em;
    overflow: hidden;
    color: inherit;
    font-weight: bold;
    text-decoration: none;
  }
  .p-globalNav a:hover {
    background-color: transparent;
    color: #90a4ae;
  }
  .p-globalNav a:after {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    transition: all .2s ease-in-out;
    background-color: #9dbf4a;
    height: 4px;
    content: '';
  }
  .p-globalNav a:hover:after {
    transform: translateY(0);
  }
  .p-hamburger {
    display: none;
  }
  .p-header__text {
    display: inline-block;
  }
  .p-hero {
    height: 400px;
  }
  .p-hero__title {
    font-size: 2.5rem;
  }
  .p-hero__eyecatch img {
    min-height: 400px;
  }
  .p-hero.-home {
    height: 400px;
  }
  .p-hero.-home .p-hero__eyecatch img {
    min-height: 400px;
  }
  .p-logo,
  .custom-logo-link {
    padding: 1em 0;
  }
  .pagination {
    margin: 3em 0 0;
  }
  .page-numbers {
    padding: 0.75em;
    width: 3em;
    height: 3em;
  }
  .page-numbers + .page-numbers {
    margin-left: .25em;
  }
  .p-project__title {
    font-size: 1.25rem;
  }
  .p-project__text {
    font-size: .875rem;
  }
  .searchform input[type="text"],
  .searchform input[type="search"],
  .search-form input[type="text"],
  .search-form input[type="search"] {
    width: 100%;
  }
  .searchform input[type="submit"],
  .search-form input[type="submit"] {
    margin-top: .5em;
    width: 25%;
  }
  .p-widget + .p-widget {
    margin-top: 2em;
  }
  .p-widget.-light .p-widget__title {
    padding: 1em;
  }
  .p-widget.-dark .p-widget__title {
    margin: 1em 0;
  }
  .p-widget.-light > ul li,
  .p-widget.-light .menu li {
    padding: 1em;
  }
  .p-widget.-dark > ul li,
  .p-widget.-dark .menu li {
    padding: 1em 0;
  }
  .p-widget form {
    padding: 1em;
  }
  .p-widget .calendar_wrap {
    padding: 1em;
  }
  .p-widget table th,
  .p-widget table td {
    padding: .5em;
  }
  .u-break .-sp {
    display: none;
  }
  .u-break .-tab {
    display: inline-block;
  }
  .u-mt--tab--0 {
    margin-top: 0;
  }
  .u-mt--tab--xsmall {
    margin-top: .5em;
  }
  .u-mt--tab--small {
    margin-top: 1em;
  }
  .u-mt--tab--medium {
    margin-top: 1.5em;
  }
  .u-mt--tab--large {
    margin-top: 2em;
  }
  .u-mt--tab--xlarge {
    margin-top: 2.5em;
  }
  .u-mb--tab--0 {
    margin-bottom: 0;
  }
  .u-mb--tab--xsmall {
    margin-bottom: .5em;
  }
  .u-mb--tab--small {
    margin-bottom: 1em;
  }
  .u-mb--tab--medium {
    margin-bottom: 1.5em;
  }
  .u-mb--tab--large {
    margin-bottom: 2em;
  }
  .u-mb--tab--xlarge {
    margin-bottom: 2.5em;
  }
}

@media screen and (min-width: 1024px) {
  .c-grid.-gutter {
    margin: -16px;
  }
  .c-grid.-gutter > .c-grid__item {
    border-width: 16px;
  }
  .c-grid__item.-lap1Of12 {
    width: 8.33333%;
  }
  .c-grid__item.-lap2Of12 {
    width: 16.66667%;
  }
  .c-grid__item.-lap3Of12 {
    width: 25%;
  }
  .c-grid__item.-lap4Of12 {
    width: 33.33333%;
  }
  .c-grid__item.-lap5Of12 {
    width: 41.66667%;
  }
  .c-grid__item.-lap6Of12 {
    width: 50%;
  }
  .c-grid__item.-lap7Of12 {
    width: 58.33333%;
  }
  .c-grid__item.-lap8Of12 {
    width: 66.66667%;
  }
  .c-grid__item.-lap9Of12 {
    width: 75%;
  }
  .c-grid__item.-lap10Of12 {
    width: 83.33333%;
  }
  .c-grid__item.-lap11Of12 {
    width: 91.66667%;
  }
  .c-grid__item.-lap12Of12 {
    width: 100%;
  }
  .c-grid__item.-lapFive {
    width: 20%;
  }
  .comment-form input[type='text'],
  .comment-form input[type='search'] {
    width: 80%;
  }
  .comment-form input[type='submit'] {
    margin-top: 0;
    width: 18%;
  }
  .searchform input[type="text"],
  .searchform input[type="search"],
  .search-form input[type="text"],
  .search-form input[type="search"] {
    width: 80%;
  }
  .searchform input[type="submit"],
  .search-form input[type="submit"] {
    margin-top: 0;
    width: 18%;
  }
  .u-mt--lap--0 {
    margin-top: 0;
  }
  .u-mt--lap--xsmall {
    margin-top: .5em;
  }
  .u-mt--lap--small {
    margin-top: 1em;
  }
  .u-mt--lap--medium {
    margin-top: 1.5em;
  }
  .u-mt--lap--large {
    margin-top: 2em;
  }
  .u-mt--lap--xlarge {
    margin-top: 2.5em;
  }
  .u-mb--lap--0 {
    margin-bottom: 0;
  }
  .u-mb--lap--xsmall {
    margin-bottom: .5em;
  }
  .u-mb--lap--small {
    margin-bottom: 1em;
  }
  .u-mb--lap--medium {
    margin-bottom: 1.5em;
  }
  .u-mb--lap--large {
    margin-bottom: 2em;
  }
  .u-mb--lap--xlarge {
    margin-bottom: 2.5em;
  }
}

@media screen and (min-width: 1280px) {
  .c-grid.-gutter {
    margin: -20px;
  }
  .c-grid.-gutter > .c-grid__item {
    border-width: 20px;
  }
  .c-grid__item.-desk1Of12 {
    width: 8.33333%;
  }
  .c-grid__item.-desk2Of12 {
    width: 16.66667%;
  }
  .c-grid__item.-desk3Of12 {
    width: 25%;
  }
  .c-grid__item.-desk4Of12 {
    width: 33.33333%;
  }
  .c-grid__item.-desk5Of12 {
    width: 41.66667%;
  }
  .c-grid__item.-desk6Of12 {
    width: 50%;
  }
  .c-grid__item.-desk7Of12 {
    width: 58.33333%;
  }
  .c-grid__item.-desk8Of12 {
    width: 66.66667%;
  }
  .c-grid__item.-desk9Of12 {
    width: 75%;
  }
  .c-grid__item.-desk10Of12 {
    width: 83.33333%;
  }
  .c-grid__item.-desk11Of12 {
    width: 91.66667%;
  }
  .c-grid__item.-desk12Of12 {
    width: 100%;
  }
  .c-grid__item.-deskFive {
    width: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .u-mt--desk--0 {
    margin-top: 0;
  }
  .u-mt--desk--xsmall {
    margin-top: .5em;
  }
  .u-mt--desk--small {
    margin-top: 1em;
  }
  .u-mt--desk--medium {
    margin-top: 1.5em;
  }
  .u-mt--desk--large {
    margin-top: 2em;
  }
  .u-mt--desk--xlarge {
    margin-top: 2.5em;
  }
  .u-mb--desk--0 {
    margin-bottom: 0;
  }
  .u-mb--desk--xsmall {
    margin-bottom: .5em;
  }
  .u-mb--desk--small {
    margin-bottom: 1em;
  }
  .u-mb--desk--medium {
    margin-bottom: 1.5em;
  }
  .u-mb--desk--large {
    margin-bottom: 2em;
  }
  .u-mb--desk--xlarge {
    margin-bottom: 2.5em;
  }
}
/*# sourceMappingURL=common.css.map */