@charset 'UTF-8';
//====================================
//  Break
//====================================

/*
  Break
*/
.u-break {
  &.-xxs {
    @include mq(sm) {
      display: none;
    }
    display: inline-block;
  }

  &.-md {
    @include mq(md) {
      display: inline-block;
    }
    @include mq(lg) {
      display: none;
    }
  }
}
