@charset 'UTF-8';
/*
  wbr
*/
.u-wbr {
  @each $device, $breakpoint in $breakpoints {
    @include mq($device) {
      &.-#{$device} {
        display: inline-block;
      }
      &.-#{$device}Hard {
        display: block;
      }
      &.-#{$device}Reset {
        display: inline;
      }
    }
  }
}
