@charset 'UTF-8';
@use "sass:math";
@use "../global" as *;

/*
  Container
-----------------------------------------------------*/
.l-container {
  width: 89.3334%;
  max-width: $content-width;
  margin: 0 auto;

  @include mq(xl) {
    width: 72.2222%;
  }
}
