@charset 'UTF-8';
@use "sass:math";
@use "../../global" as *;

/*
  Button
*/
.c-button {
  display: inline-block;
  border: 0;
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  appearance: none;

  &.-arrowWhite {
    display: block;
    position: relative;
    padding: 10px 27px 10px 0;
    transition: all 1s ease-in-out;
    line-height: 1;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 16px;
      height: 16px;
      transform: translateY(-50%);
      transition: right 0.3s ease-in-out;
      background-image: url(../img/common/arrow-w-icon@2x.png);
      background-size: cover;
    }

    &:hover {
      &::after {
        right: -3px;
      }
    }
  }

  &.-primary {
    width: 152px;
    padding: 11px;
    font-weight: 400;
    text-align: center;

    @include mq(lg) {
      width: 200px;
    }

    &.-btn {
      position: relative;
      transition: color 0.3s ease-in-out;
      border: 1px solid $accent-color;
      color: $accent-color;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.5);
        transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
      }

      &:hover {
        color: $base-color;
        &::after {
          transform: scale(1);
          background-color: $accent-color;
        }
      }
    }

    &.-docBtn {
      position: relative;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      background-color: $sub-color;
      color: $base-color;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.8);
        transition: transform 0.3s ease-in-out, opacity 0.3s;
        border: 1px solid $sub-color;
        opacity: 0;
      }

      &:hover {
        background-color: transparent;
        color: $sub-color;

        &::before {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    &.-mailBtn {
      position: relative;
      margin-right: 7px;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      background-color: $accent-color;
      color: $base-color;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.8);
        transition: transform 0.3s ease-in-out, opacity 0.3s;
        border: 1px solid $accent-color;
        opacity: 0;
      }

      &:hover {
        background-color: transparent;
        color: $accent-color;

        &::before {
          transform: scale(1);
          opacity: 1;
        }
      }
    }

    &.-telBtn {
      position: relative;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
      background-color: $accent-color;
      color: $base-color;

      @include mq(lg) {
        display: none;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(0.8);
        transition: transform 0.3s ease-in-out, opacity 0.3s;
        border: 1px solid $accent-color;
        opacity: 0;
      }

      &:hover {
        background-color: transparent;
        color: $accent-color;

        &::before {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }
}
