@charset 'UTF-8';
@import "color-book";

// -----------------------------------
//  Layout Settings
//------------------------------------

// Contentの幅
$content-width: 1200px !default;

// デザインカンプのアートボードサイズ
$sp-comp-width: 375px;
$tab-comp-width: 768px;
$pc-comp-width: 1366px;

// ブレークポイント
$breakpoints: (
  xxs: 0,
  xs: 360px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
) !default;

//====================================
//  Color Setings
//====================================

// ベースカラー
$base-color: #fff;

// メインカラー
$main-color: #9dbf4a;

// サブカラー
$sub-color: $md-blue-grey-500;

//　アクセントカラー
$accent-color: $md-amber-500;

// テキストの色
$primary-text-color: #212121;

// セカンダリーカラー
$secondary-text-color: $md-blue-grey-500;

//====================================
//  Typeface
//====================================

$font-set-primary: "游ゴシック", "Yu Gothic", "游ゴシック体", yugothic, "ヒラギノ角ゴ Pro W3",
  "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", meiryo, sans-serif;

//====================================
//  Easing
//====================================
$easing: cubic-bezier(0.165, 0.84, 0.44, 1);
